* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portalCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.architect-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5; /* Atrás da interface, na frente do vórtice */
    pointer-events: none;
}

.architect-main {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Faz a imagem cobrir a tela toda como um fundo real */
    filter: brightness(0.8) contrast(1.1);
}

.ui-access {
    position: absolute;
    z-index: 20;
    text-align: center;
    bottom: 15%;
}

.portal-title {
    color: #ff0000;
    font-family: 'Courier New', monospace;
    font-size: 2.5rem;
    letter-spacing: 15px;
    margin-bottom: 20px;
    text-shadow: 0 0 15px #ff0000;
}

#dna-verify {
    background: transparent;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 12px 35px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.2);
    transition: 0.3s;
}

#dna-verify:hover {
    background: #ff0000;
    color: #000;
    box-shadow: 0 0 30px #ff0000;
}

/* Nota de Dinheiro Realista */
.money {
    position: absolute;
    width: 60px;
    height: 30px;
    background: url('https://www.transparentpng.com/download/money/JmHk3v-money-dollar-bill-hd-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 50; /* Sempre na frente */
    animation: fallRain linear forwards;
}

@keyframes fallRain {
    0% { transform: translateY(-10vh) rotate(0deg); opacity: 0; }
    10% { opacity: 1; }
    100% { transform: translateY(110vh) rotate(360deg); opacity: 0; }
}
