* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: #000;
    height: 100vh;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.master-portal {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.identity-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-dna-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem preencher o fundo do celular */
    filter: contrast(1.2) brightness(0.8);
}

.vortex-red {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(139, 0, 0, 0.4) 0%, transparent 75%);
    animation: pulseDNA 3s infinite ease-in-out;
}

@keyframes pulseDNA {
    0%, 100% { opacity: 0.3; }
    50% { opacity: 0.7; }
}

.ui-panel {
    position: relative;
    z-index: 10;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    backdrop-filter: blur(8px);
}

.glitch-text { font-size: 3rem; color: #ff0000; text-shadow: 0 0 10px #ff0000; letter-spacing: 8px; }

#activate-btn {
    margin-top: 20px;
    background: transparent;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 12px 30px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s;
}

#activate-btn:hover { background: #ff0000; color: #000; box-shadow: 0 0 20px #ff0000; }

/* Estilo das Notas de Dinheiro */
.falling-bill {
    position: absolute;
    width: 50px;
    height: 25px;
    background: #1b3d1b;
    border: 1px solid #3e7a3e;
    z-index: 5;
    animation: rain linear infinite;
}

@keyframes rain {
    0% { transform: translateY(-10vh) rotate(0deg); opacity: 0; }
    10% { opacity: 1; }
    100% { transform: translateY(110vh) rotate(360deg); opacity: 0; }
}
