* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
}

#portalCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* O vórtice fica no fundo */
}

.master-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.architect-img {
    max-height: 85vh;
    max-width: 100%;
    object-fit: contain;
    z-index: 5; /* Homem na frente do vórtice */
    filter: drop-shadow(0 0 30px rgba(255, 0, 0, 0.4));
    pointer-events: none;
}

.ui-overlay {
    position: absolute;
    bottom: 50px;
    text-align: center;
    z-index: 20;
}

h1.glitch {
    color: #ff0000;
    font-size: 2rem;
    letter-spacing: 10px;
    text-shadow: 0 0 10px #ff0000;
    margin-bottom: 10px;
}

p {
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#activate-btn {
    background: transparent;
    border: 2px solid #ff0000;
    color: #ff0000;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

#activate-btn:hover {
    background: #ff0000;
    color: #000;
    box-shadow: 0 0 40px #ff0000;
}

/* Nota de Dinheiro Caindo */
.money-note {
    position: absolute;
    width: 50px;
    height: 25px;
    background: #1b3d1b;
    border: 1px solid #3e7a3e;
    z-index: 30; /* Notas na frente de TUDO */
    pointer-events: none;
    animation: fall linear forwards;
}

@keyframes fall {
    0% { transform: translateY(-10vh) rotate(0deg); opacity: 0; }
    10% { opacity: 1; }
    100% { transform: translateY(110vh) rotate(720deg); opacity: 0; }
}
