* { margin: 0; padding: 0; box-sizing: border-box; }

body, html {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    position: relative;
}

/* Vórtice no fundo total */
#portalCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

/* O Homem centralizado e sem fundo preto cortando */
.main-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none; /* Deixa o clique passar para o botão */
}

.architect-img {
    height: 100%;
    width: 100%;
    object-fit: contain; /* Ajusta ao tamanho da tela do celular sem cortar */
}

/* Botão e Título */
.ui-layer {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.title {
    color: #ff0000;
    font-family: 'Courier New', monospace;
    letter-spacing: 10px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #ff0000;
}

#activate-btn {
    background: transparent;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
}

/* Notas de Dinheiro */
.money {
    position: absolute;
    width: 40px;
    height: 20px;
    background: #2d5a27;
    border: 1px solid #4a9c42;
    z-index: 15;
    animation: fall linear forwards;
}

@keyframes fall {
    0% { transform: translateY(-10vh) rotate(0deg); opacity: 0; }
    10% { opacity: 1; }
    100% { transform: translateY(110vh) rotate(360deg); opacity: 0; }
}
