* { margin: 0; padding: 0; box-sizing: border-box; }

body, html {
    background: #000;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Courier New', monospace;
}

.h3x4-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* O Vórtice de Fundo */
#vortex-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Atrás de tudo */
}

/* A Camada do Homem */
.identity-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; /* Na frente do efeito, atrás da UI */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.bg-dna {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 15px rgba(255, 0, 0, 0.3));
}

.access-ui {
    position: relative;
    z-index: 10;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border: 1px solid #ff0000;
}

.glitch-title { color: #ff0000; font-size: 2.5rem; letter-spacing: 10px; }

#activate-portal {
    background: transparent;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 10px 30px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
}
